
body{
    background-color: #b1b1;
    color: rgb(132, 90, 132);

    /* ---- -------------- ---- */
    font-family: arial, helvetica, sans-serif;
    font-size:16px;
    font-weight: normal; 
    /* ---- same as  above ---- */
    font: normal 16px arial, helvetica, sans-serif;
    /* ---- -------------- ---- */

    line-height: 1.6em;
    margin: 0;
}
a{
    color: #333;
    text-decoration: none;
}
a:hover{
    color: rgb(171, 93, 84);
}
a:active{
    color: rgb(77, 111, 143);
    font-weight: bold;
}
a:visited{
    color: rgb(136, 160, 37);
}
h1{
    color: #b11a;
}
.container{
    margin: auto;
    width: 80%;
}
.box1{
    background-color: #333;  
    border-left: 5px rgb(135, 65, 65) solid;
    border-right: 3px rgb(85, 85, 162) solid; 
    border-width: 5px;
    border-left-width: 7px; 
    border-left-style: dotted;
    padding: 5px 10px;
    margin: 20px 0;
}
.box1 h1{
    font-family: "Helvetica Neue";
    text-transform: uppercase;
    text-decoration:  underline;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}

.box2{
    border: 3px dotted #b1b1b1;
    margin: 10px 0;
    padding: 10px 20px
}
.categories{
    border: 3px dotted #b1b1b1;
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 20px;
}
.categories h2{
    text-align: center;
}

.categories ul{
    list-style:  square;
    list-style: none;
    padding-left: 15px;
}
.categories li{
    padding-bottom: 6px;
    border-bottom: dotted 2px rgb(132, 90, 132);
    list-style-image: url("../images/check.png")
}